/* WAVES  */
body {
    margin: 0;
    background-color: #fff;
}

.header-waves {
    position: relative;
    text-align: center;
    /* background: -o-linear-gradient(30deg, rgba(0, 204, 0, 1) 0%, rgba(0, 255, 204, 1) 100%); */
    /* background: linear-gradient(60deg, rgba(0, 204, 0, 1) 0%, rgba(0, 255, 204, 1) 100%); */
    background: -o-linear-gradient(30deg, rgba(213, 0, 249, 1) 0%, rgba(245, 0, 87, 1) 100%);
    background: linear-gradient(60deg, rgba(213, 0, 249, 1) 0%, rgba(245, 0, 87, 1) 100%);
    color: #fff;
}

.inner-header-waves {
    height: 15vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.content {
    position: relative;
    height: 20vh;
    text-align: center;
    background-color: #fff;
}

.flex-waves {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

.waves {
    position: relative;
    height: 8vh;
    width: 100%;
    margin-bottom: 0px;
    min-height: 5px;
    max-height: 100px;
}

.parallax>use {
    -webkit-animation: moveForever 25s cubic-bezier(.55, .5, .45, .5) infinite;
    animation: moveForever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
    -webkit-animation-duration: 7s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    -webkit-animation-delay: -3s;
    animation-delay: -3s;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    -webkit-animation-delay: -4s;
    animation-delay: -4s;
    -webkit-animation-duration: 13s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    -webkit-animation-delay: -5s;
    animation-delay: -5s;
    -webkit-animation-duration: 20s;
    animation-duration: 20s;
}

@-webkit-keyframes moveForever {
    0% {
        -webkit-transform: translate3d(-90px, 0, 0);
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(85px, 0, 0);
        transform: translate3d(85px, 0, 0);
    }
}

@keyframes moveForever {
    0% {
        -webkit-transform: translate3d(-90px, 0, 0);
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(85px, 0, 0);
        transform: translate3d(85px, 0, 0);
    }
}

@media (max-width : 768px) {

    .content {
        height: 30vh;
    }

    .waves {
        height: 8vh;
        min-height: 8vh;
    }
}

/* FOOTER */
footer {
    height: 3vh;
    width: 100%;
    background: linear-gradient(-45deg, #9C27B0, #F50057, #e73c7e);
    background-size: 400% 400%;
    animation: gradient 7s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    position: fixed;
    bottom: 0px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.footerblur {
    background: rgba(255, 255, 255, 0.2);
    /* border-radius: 10px; */
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3); */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

/* STICKY HEADER */
.tbl-fixed {
    height: 65vh;
    overflow-y: scroll;
}

.sticky {
    position: sticky;
    top: 0px;
    background: #E91E63;
}

/* hide scrollbar for chrome, safari, opera */
body::-webkit-scrollbar {
    display: none;
}

.tbl-fixed::-webkit-scrollbar {
    display: none;
}

/* hide scrollbar for firefox */
html {
    scrollbar-width: none;
}

.tbl-fixed {
    scrollbar-width: none;
}

/* hide scrollbar for edge, IE */
body {
    -ms-overflow-style: none;
}

.tbl-fixed {
    -ms-overflow-style: none;
}

/*DISABLE BUTTON*/
.tombolmati {
    background-color: #BDBDBD;
    color: white;
    cursor: not-allowed;
    pointer-events: none;
    font-weight: bold;
}

/*TOMBOL AKSI*/
.belumdiproses {
    background-color: #D50000;
    color: white;
    font-weight: bold;
}

.sedangdiproses {
    background-color: #FF6D00;
    color: white;
    font-weight: bold;
}

.menunggupengantaran {
    background-color: #FFAB00;
    font-weight: bold;
}

.sedangdiantar {
    background-color: #FFEA00;
    font-weight: bold;
}

.selesai {
    background-color: #00C853;
    font-weight: bold;
}

/* BLINK */
.blink {
    animation: blinker 4s linear infinite;
}

@keyframes blinker {
    0% {
        background-color: #D50000;
        color: white;
    }

    25% {
        background-color: #fff;
        color: red;
    }

    50% {
        background-color: #D50000;
        color: white;
    }

    75% {
        background-color: #ffff;
        color: red;
    }

    100% {
        background-color: #D50000;
        color: white;
    }
}

/* HIDDEN */
.sembunyi {
    display: none;
}

/* ANIMATED BACKGROUND */
.area {
    /* background: #4e54c8; */
    /* background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8); */
    width: 100%;
    z-index: 0;
    /* height: 100vh; */


}

.circles {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    z-index: 0;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.5);
    animation: animate 10s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1) {
    left: 0%;
    width: 50px;
    height: 50px;
    animation-delay: 1s;
    animation-duration: 10s;
}


.circles li:nth-child(2) {
    left: 15%;
    width: 100px;
    height: 100px;
    animation-delay: 0s;
    animation-duration: 8s;
}

.circles li:nth-child(3) {
    left: 30%;
    width: 70px;
    height: 70px;
    animation-delay: 2s;
    animation-duration: 10s;
}

.circles li:nth-child(4) {
    left: 45%;
    width: 30px;
    height: 30px;
    animation-delay: 3s;
    animation-duration: 7s;
}

.circles li:nth-child(5) {
    left: 60%;
    width: 50px;
    height: 50px;
    animation-delay: 0s;
    animation-duration: 10s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 30px;
    height: 30px;
    animation-delay: 2s;
    animation-duration: 8s;
}

.circles li:nth-child(7) {
    left: 90%;
    width: 150px;
    height: 150px;
    animation-delay: 5s;
    animation-duration: 9s;
}

@keyframes animate {

    0% {
        transform: translateZ(0);
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateZ(0);
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

/* CUSTOM BACKGROUND*/
.colorful {
    margin: 0;
    /* font-family: var(--font-default); */
    /* display: flex; */
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    width: 100%;
    /* background: #fff; */
    /* background: -o-linear-gradient(30deg, rgba(64, 196, 255, 1) 0%, rgba(0, 200, 83, 1) 100%);
    background: linear-gradient(60deg, rgba(64, 196, 255, 1) 0%, rgba(0, 200, 83, 1) 100%); */
    /* background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); */
    background-image: linear-gradient(to left bottom, #8e24aa, #a71fa2, #bd1e99, #ce238f, #dd2e86, #de46a1, #db5cba, #d670d2, #a597ff, #5cb7ff, #00d1ff, #00e5ff);
}

/* TOMBOL BLUR */
.blur {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.5);
}
